
<footer>
    <div class="footer_info">
        <p><i class="fa-regular fa-registered"></i> Hundshoppen</p> 
        <p>Djurstigen 75</p>
        <p>401 20 Göteborg</p>
    </div>  
    
    <div class="footer_info">
        <p><i class="fa-brands fa-instagram"></i> hundshoppen</p>
        <p><i class="fa-brands fa-facebook"></i> Hundshoppen</p>
    </div>

    <div class="footer_info">
        <p><i class="fa-regular fa-envelope"></i> kontakt@hundshoppen.se</p>
        <p><i class="fa-solid fa-phone"></i> 010-00-00-10</p>
    </div>
</footer>