@inject NavigationManager NavigationManager

<div id="header_container">
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Hundshoppen</a>
        </div>
    </div>

    <nav class="nav">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Start
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Om oss
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Våra produkter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cartitems">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Varukorg 
            </NavLink>
        </div>
    </nav>
</div>

@if (NavigationManager.ToBaseRelativePath(NavigationManager.Uri) == "")
{
    <div id="header_image_container">
        <img src="/images/hundshoppen_header.jpg" alt="En hund som hämtar en boll">
    </div>
}

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void HandleLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        StateHasChanged(); //får det att ladda om så att header_image_container visas eller inte
    }

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += HandleLocationChanged;
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= HandleLocationChanged;
    }
}
