body {
    background-color: #FFECD1;
    margin: 0; 
    font-family: "Open Sans", sans-serif;
}

main {
    margin: 0 auto;
    max-width: 950px;
}

h1, h2 {
    font-family: "Playwrite HU", cursive;
}

p, article, li {
    font-size: 1.2em;
}

/*navigering*/
#header_container {
    background-color: #15616D;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em; 
}

.navbar-brand {
    font-size: 2em;
    color: #FFECD1;
    text-decoration: none;
    font-family: "Playwrite HU", cursive;
}

.nav {
    list-style-type: none;
    text-decoration: none;
}

.nav-item {
    font-size: 1.5em;
    padding: 1em; 
    display: inline;
}

.nav-link {
    color: #FFECD1;
    text-decoration: none;
}

/*Headerbild*/
#header_image_container img {
    max-width: none; 
    width: 100%; 
    
}

/*för produktsidan*/
#productContainer {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.productItem {
    padding: 1em; 
    background-color: white;
    border-radius: 10px;
    margin: 10px; 
}

.productItem img {
    max-width: 200px; 
    width: 100%; 
    height: auto; 
}

.nav-link-product {
    color: black; 
    text-decoration: none;
    font-family: "Playwrite HU", cursive;
}

.nav-link-product:hover {
    text-decoration: underline;
}  

/*checkout*/
#thank_you_img_containter img {
    max-width: 100%; 
    width: auto; 
    height: auto; 
}

#thank_you_img_containter {
    display: flex;
    justify-content: center;
    align-items: center;
} 

/*Formulär för checkout*/
form input[type=text], form input[type=email] {
    width: 65%; 
    padding: 1em; 
    border-radius: 15px;
    border: 1px solid #78290F; 
    font-size: 0.75em; 
}

form input[type=text]:focus, form input[type=email]:focus {
    color: #78290F; 
}

form select {
    width: 25%; 
    padding: 1em; 
    border-radius: 15px;
    border: 1px solid #78290F; 
    font-size: 0.75em; 
}

#checkoutBtn {
    background-color: #78290F; 
    color: #FFECD1; 
    padding: 0.75em; 
    border-radius: 15px; 
    border: none; 
    font-size: 1em; 
    cursor: pointer; 
}