/*för produktsidan*/
#productContainer {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.productItem {
    padding: 1em; 
}

.productItem img {
    max-width: 200px; 
    width: 100%; 
    height: auto; 
}