@page "/about"

<PageTitle>Om oss</PageTitle>

<h1>Om oss</h1>

<article>
    Välkommen till Hundshoppen! Din destination för allt som din fyrbenta vän behöver! Vi brinner för att göra livet enklare och roligare för både hundar och deras ägare.
</article>

<h2>Vår passion</h2>

<article>
    Hundshoppen grundades med en enkel idé: att ge hundar det bästa som finns. 
    Vi älskar hundar, precis som du, och därför har vi noggrant valt ut produkter som 
    kombinerar kvalitet, komfort och funktion. Från hållbara leksaker till näringsrika godsaker. 
    Allt vi erbjuder är noga utvalt för att möta din hunds behov.
</article>

<h2>Vårt löfte</h2>

<article>
    Vi strävar efter att erbjuda <br>
    
    <b>Högkvalitativa produkter</b> Vi samarbetar med pålitliga leverantörer för att säkerställa att varje produkt vi säljer håller hög standard.<br>
    <b>Personlig service:</b> Oavsett om du har en valp eller en seniorhund, hjälper vi dig att hitta rätt produkter.<br>
    <b>En plats för gemenskap:</b> Hos oss handlar det inte bara om produkter, utan om att skapa en plats där hundägare kan dela sin kärlek till sina husdjur.<br>
    
</article>