@page "/"

<PageTitle>Hundshoppen | Start</PageTitle>

<h1>Välkommen till Hundshoppen <br> <em>-här hittar du allt för din hund</em></h1>

<article>
    Välkommen till Hundshoppen! Din destination för allt som din fyrbenta vän behöver! Vi brinner för att göra livet enklare och roligare för både hundar och deras ägare.
</article>
<br>

<a href="/weather"><button id="goToStoreBtn">Kolla in våra varor</button></a>
