@page "/product/{productId:int}"
@inject HttpClient Http
@inject CartService CartService
@using Projekt_dotnet_WEBB.Shared

<PageTitle>Produktdetaljer</PageTitle>


@if(product == null) {
    <p><em>Loading...</em></p>
} else {
    <div id="singleProductContainer">
        <h2>@product.Name</h2>
        <img src="/images/@product.ImageName" alt=@product.ImageName>
        <p>@product.Price</p>
        <p>@product.Description</p>
        <p>Kategori: @product.CategoryModelId</p>
        <button id="addToCartBtn" @onclick="AddToCart">Lägg i varukorg</button>
    </div>
}

<a href="/cartitems">Visa varukorg</a>

@code {
    [Parameter]
    public int productId { get; set; }

    private Product? product; 

    protected override async Task OnInitializedAsync() {
        product = await Http.GetFromJsonAsync<Product>($"http://localhost:5071/api/products/{productId}");
    }

    public void AddToCart() 
    {
        CartService.AddToCart(product);
        Console.WriteLine($"{product.Name} lades till i kundvagnen.");
    }

}