@page "/weather"
@inject HttpClient Http

<PageTitle>Hundshoppen | Produkter</PageTitle>

<h1>Produkter</h1>

<p>Hundprodukter</p>

<div id="productContainer">
    @if (products == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
                @foreach (var product in products)
                {
                    
                        <article class="productItem">
                            <img src="/images/@product.ImageName" alt=@product.ImageName>
                            <NavLink class="nav-link" href=@($"product/{product.Id}")>
                                <h3>@product.Name</h3>
                            </NavLink>
                            <p>@product.Price kr</p>
                            <p>@product.Description</p>
                            <p>@product.Category</p>
                        </article>
                    
                }
    }
</div

@code {
    private Product[]? products;

    protected override async Task OnInitializedAsync()
    {
        products = await Http.GetFromJsonAsync<Product[]>("http://localhost:5071/api/products");
    }

    public class Product
    {
        public int Id { get; set; }

        public string? Name { get; set; }

        public string? Description { get; set; }

        public int Price { get; set; }

        public string? ImageName { get; set;}

        public string? Category { get; set; }

    }
}